#container {
  padding-top: 15px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-header, ion-footer {
  padding-top: env(safe-area-inset-top);    /* Para el notch superior */
  padding-bottom: env(safe-area-inset-bottom); /* Para el notch inferior */
}

